/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

:root .wp-block-flashblocks-taxonomy-links {
	--gap: 20px;
	margin: 0;
	padding: 0;
	list-style: none;

	&.is-style-horizontal {
		display: flex;
	}
}
